main{
    max-width: 1600px; /* Maximum width it can grow to */
    min-width: 200px; /* Minimum width it can shrink to */
    /* border: 1px solid; */
    margin: 0 auto; 
}
.client-order-container{
    padding: 0 70px;
}
.wrapper-title-input{
    margin: 80px 0 49px 0;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
.wrapper-title-input h2{
    color: #0A2926;
    font-family: Coconat;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 96px; /* 96px */
}
.order-status-search{
    border-bottom: 2px solid #CED4D4;
    height: 60px;
    width: 458px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.order-status-search input{
    font-size: large;
    outline: none;
    height: 100%;
    border: none;
    width: 100%;
    font-family: "Manrope";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 28.8px */
}
.order-status-search input::placeholder{
    color: #CED4D4;
    font-family: "Manrope";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 28.8px */
}
.order-status-search img{
    width: 22px;
    height:22px;
}

.table-container {
    min-width: 1000px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    font-family: "Manrope", sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

 thead{
    background-color: #F9F9F9; /* slate-200 */
    border-radius: 0 !important;
    border-top-left-radius: 0 !important;
 }
th {
 
    padding: 18px 24px;
    text-align: left;
    color: #0A2926;
    font-family: "Manrope";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 28.8px */
    border: none;
}

td {
    text-align: left;
    padding: 34px 24px;
    /* vertical-align: text-top; */
    color: #0A2926;
    font-family: "Manrope";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 28.8px */
}
td a {
    text-decoration: none;
    color: #E65909;
}
thead tr {
    border-bottom: none !important;
}
tr{
    border-bottom: 1px solid gainsboro;
}
.pagination {
    display: flex;
    justify-content: space-between;
    padding: 135px 0 129px 0;
}
.right-side-table-navigation{
    display: flex;
    gap: 10px;
}
.pagination #prev-btn,#next-btn {
    padding: 5px 15px;
    display: flex;
    gap: 8px;
    align-items: center;
    color: #0A2926;
  border: none;
  background-color: white;
    font-family: "Manrope";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 28.8px */
}
.pagination button span{
    height: 16px;
    font-size: medium;
    width: 16px;
}

#page-numbers {
    display: flex;
    align-items: center;
}

#page-numbers span {
    margin: 0 8px;
  color: #546967;
    font-family: "Manrope";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 28.8px */
}
#page-numbers span .active {
    background-color: #CED4D4;
    color: #0A2926;
    display: grid;
    place-items: center;
    border-radius: 8px;
    height: 45px;
    margin: 45px;
  }
  @media screen and (min-width: 1024px){
    .client-order-container{
        padding: 0 50px;
    }
    th{
        font-size: 10px;
        padding: 12px 10px;
    }
    td{
        font-size: 10px;
        padding: 20px 10px;
    }
    .wrapper-title-input h2{
        font-size: 5vw;
    }
  }
  @media screen and (min-width: 1364px){
    .client-order-container{
        padding: 0 70px;
    }
    .wrapper-title-input h2{
        font-size: 80px !important;
    }
    th{
        font-size: 18px;
        padding: 18px 24px;
    }
    td{
        font-size: 18px;
        padding: 34px 24px;
    }
  }