.login-section{
    margin-bottom: 50px;
    padding: 0 68px;
    font-family: "manrope", sans-serif;
    display: flex;
    /* border: 1px solid; */
}
.login-section .login-sideimg {
    width: 53.5%;
    border-radius: 24px;
    overflow: hidden;
    height: 803px;
    border: #d5d5d5 1px solid;
    background-image: url('/images/Login/tree.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.login-section .login-form{
    padding-top: 98px;
    width: 46.5%;
    padding-left: 50px;
    /* border: 1px solid; */
    display: flex;
    gap: 45px;
    flex-direction: column;
}
.login-section .login-form p{
    font-size: 28px;
    font-weight: 500;
    line-height: 44.8px;
    text-transform: uppercase;
}
.login-section .login-form h3{
    font-size: 40px;
    font-weight: 500;
    line-height: 52px;
}
.login-form form {
    width: 100%;
    max-width: 460px;

    display: flex;
    flex-direction: column;
    gap: 30px;
    /* border: 1px solid; */
}
.login-form form div label{
    font-size: 16px;
    font-weight: 500;
    color: #546967;
}
.login-form form div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.login-form form div input{
    height: 66px;
    border-radius: 12px;
    background-color: #ECF2F2;
    outline: none;
    max-width: 420px;
    /* min-width: 300px; */
    padding: 0 20px;
    border: none;
}
.login-form form div input::placeholder{
    line-height: 28.8px;
    font-size: 18px;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
}
.login-form form hr{
    width: 111px;
text-align: center;
align-self: center;
}
.login-form form .login-continue-btn{
    cursor: pointer;
    background-color: #0A2926;
    border-radius: 12px;
    height: 66px;
    max-width: 460px;
    /* min-width: 300px; */
    color: white;
    font-size: 22px;
    font-weight: 600;
    font-family: "manrope", sans-serif;
    border: none;
    text-transform: capitalize;

}
.login-form form  .login-google-btn{
    background-color: white;
  cursor: pointer;
    border: #e1e1e1 1px solid;
    border-radius: 12px;
    height: 66px;
    max-width: 380px;
    padding-left: 50px;
    padding-right: 30px;
    /* min-width: 300px; */
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-family: "manrope", sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    display:flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

gap: 10px;
}
.login-form form  .login-google-btn span{
    font-size: 22px;
    font-family: "manrope", sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}
.login-form form  .login-google-btn img{
    margin-top: 3px;
    /* display: none; */
    
    height: 30px;
    width: 30px;
}
@media screen and (min-width: 1024px){
    .login-section{
        margin-bottom: 50px;
        padding: 0 50px ;
        font-family: "manrope", sans-serif;
        display: flex;
        gap: 20px;
    }
           
    .login-section .login-form h3{
        font-size: 3vw;
        font-weight: 500;
        line-height: 52px;
    }
    }
    @media screen and (min-width: 1364px){
        .login-section{
            gap: 50px;
            margin-bottom: 50px;
            padding: 0 64px ;
            font-family: "manrope", sans-serif;
            display: flex;
            /* justify-content: center; */
        
        }
        .login-section .login-form h3{
            font-size: 40px;
            font-weight: 500;
            line-height: 52px;
        }
               
    
        }