
main{
    max-width: 1600px ; /* Maximum width it can grow to */
    min-width: 200px; /* Minimum width it can shrink to */
    /* border: 1px solid; */
    margin: 0 auto; /* Centers the header horizontally */
}
.login-section{
    margin-bottom: 50px;
    padding: 0 70px;
    font-family: "manrope", sans-serif;
    display: flex;
    margin-bottom: 121px;
}
.login-section .login-sideimg {
    max-width: 720px;
    width: 100%;
    border-radius: 24px;
    overflow: hidden;
    height: 803px;
    border: #d5d5d5 1px solid;
    background-image: url('/assets/images/Login/tree.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.login-section .login-form{
    padding-top: 102px;
    padding-left: 101px;
    width: calc(100% - 101px);
    box-sizing: border-box;
    display: flex;
    gap: 43px;
    flex-direction: column;
}
.login-section .login-form p{
    color: #0A2926;
    font-family: "Manrope";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 44.8px */
}
.login-section .login-form h1{
    color: #0A2926;
    font-family: "Manrope";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 13px;
    line-height: 130%; /* 52px */
}
.login-form form {
    width: 100%;
    max-width: 460px;
    display: flex;
    flex-direction: column;
    gap: 22px !important;
    /* border: 1px solid; */
}
.login-form form div label{
    color: #546967;
    font-family: "Manrope";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 25.6px */
}
.login-form form div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.login-form form div input{

    border-radius: 12px;
border: 2px solid #ECF2F2 !important;
background: #F9F9F9;
    height: 66px;
    outline: none;
    max-width: 418px;
    /* min-width: 300px; */
    padding: 0 21px;
    border: none;
    line-height: 28.8px;
    font-size: 18px !important;
    font-family: "Manrope" !important;
    font-weight: 500;
}
.login-form form div input::placeholder{
    color: #546967;
    font-family: "Manrope";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 28.8px */
}
.login-form form hr{
    /* display: none; */
    margin: 14px 0 5px 0 !important;
    width: 111px;
text-align: center;
align-self: center;
}
.login-form form .login-continue-btn{
    cursor: pointer;
    background-color: #0A2926;
    border-radius: 12px;
    height: 66px;
    max-width: 460px;
    color: #FFF;
text-align: center;
font-family: "Manrope";
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 160%; /* 35.2px */

    border: none;
    text-transform: capitalize;

}
.login-form form  .login-google-btn{
    /* padding-top: 8px; */
    background-color: white;
  cursor: pointer;
    border: #e1e1e1 1px solid;
    border-radius: 12px;
    height: 66px;
    max-width: 380px;
    padding-left: 50px;
    padding-right: 30px;
    /* min-width: 300px; */
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-family: "manrope", sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    display:flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

gap: 10px;
}
.login-form form  .login-google-btn span{
    font-size: 22px;
    font-family: "manrope", sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}
.login-form form  .login-google-btn img{
    margin-top: 3px;
    /* display: none; */
    
    height: 30px;
    width: 30px;
}
@media screen and (min-width: 1024px){
    .login-section{
        padding: 0 50px ;
        /* gap: 60px; */
    }
           
    .login-section .login-form h1{
        font-size: 3vw;
        font-weight: 500;
        line-height: 52px;
    }
    .login-section .login-form{
        padding-left: 60px;
    }
    }
    @media screen and (min-width: 1145px){

        .login-section .login-form h1{
            font-size: 40px;
        }
        }
    @media screen and (min-width: 1364px){
        .login-section{
            padding: 0 70px ;
            /* gap: 101px; */
        }
        .login-section .login-form{
            padding-left: 101px;
        }
    
        }