main h2{
    padding: 0 70px 50px 70px;
    font-size: 80px;
    font-weight: 400;
    /* margin-left: -15px !important; */
    margin: 0;
    font-family: Coconat;
}
main a {
    padding: 50px 70px 0px 70px;
    text-decoration: none;
    cursor: pointer;
    /* padding: 0 40px; */
    text-align: start;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28.8px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: #E65909;
}
main a .material-symbols-outlined {
    height: 12px;
    font-size: 15px;
    width: 12px;
    /* margin-top: -3px; */
    margin-right: 5px;
}
.table-container {
    padding-bottom: 80px !important;
    min-width: 1000px;
    padding: 0 70px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    font-family: "Manrope", sans-serif;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.order-details{
    padding: 0 70px;
    margin-bottom: 70px !important;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.order-details .order-details-date {
    margin-top: 20px;
    max-width: 400px;
    display: flex;
    gap: 50px;
}
.order-details .order-details-address {
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 55px;
}
.order-details .order-details-address div{
    display: flex;
    gap: 0px;
}
.order-details div div{
    display: flex;
    flex-direction: column;
}
.order-details div div p:first-child, .order-details div p:first-child{
    font-size: 18px;
    font-weight: 700;
    font-family: "Manrope", sans-serif;
}
.order-details div div p:last-child, .order-details div p:last-child{
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #0A2926;
    line-height: 35px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

thead tr th{
   
}
th {
    background-color: #F9F9F9; /* slate-200 */
    height: 60px;
    min-width: 120px;
   max-width: 400px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    /* border: 2px solid #ddd; */
    font-family: "Manrope", sans-serif;
}
.order-table-prod{
    width: 550px;
}
td {
    padding: 10px;
    /* padding-left: 20px; */
    padding: 35px 20px;
    vertical-align: text-top;
    font-size: 18px;
    font-weight: 500;
    color: #0A2926;
    border-bottom: 1px solid #ddd;
    font-family: "Manrope", sans-serif;
}
td p{
    margin: 0;
    margin-bottom: 15px;
}
td:last-child{
    /* color: red; */
}
td a {
    text-decoration: none;
    color: #E65909;
}
tr.horizontal-line {
    border-bottom: 2px solid #ddd;
    font-family: "Manrope", sans-serif;
}

.pagination {

    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.right-side-table-navigation{
    display: flex;
    gap: 10px;
}
.order-status-gstrow, .order-status-totalprice{
    background-color: #F9F9F9;
}
.order-status-gstrow td, .order-status-totalprice td{
    font-size: 18px;
    font-weight: 700;
    font-family: "Manrope", sans-serif;
}

.order-status-totalprice td{
    border: none !important;
}
/* .table-container */