main{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    min-width: 200px;
    font-family: var(--font-default); 
}
.order-title-container{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
    /* border: 1px solid; */
    padding: 0px 70px 77px 70px;
    
}
.title-link-container{
    /* border: 1px solid; */
    margin-top: 43px;
}
.order-title-container a{
    color: var(--Ember100, #E65909);
font-family: var(--font-default);
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 160%; /* 28.8px */
text-decoration: none;
display: flex;
align-items: center;
gap: 6px;
/* border: 1px solid; */

}
.order-title-container h1{
    color: var(--primary-text-color);
font-family: Coconat;
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 96px */
}
.table-container {
    padding: 0 70px 174px 70px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    font-family: var(--font-default);
}
.order-details{
    /* border: 1px solid; */
    /* margin-top: 9px; */
    display: flex;
    flex-direction: column;
    gap: 33px;
    margin-top: 89px;
    
}
.order-details .order-details-date {
    display: flex;
    gap: 36px;
}
.order-details .order-details-address {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 208px;
}
.order-details .order-details-address div{
    display: flex;
    gap: 0px;
    flex-direction: column;
}
.delivery-add{
    max-width: 286px;
    width: 100%;
}
.billing-add{
    width: fit-content;
}
.order-address{
    color: var(--primary-text-color);
font-family: var(--font-default);
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 160%; /* 28.8px */
}
.order-data{
    color: var(--primary-text-color);
font-family: var(--font-default);
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 160%; /* 28.8px */
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead tr th{
   
}
th {
    padding: 18px 24px;
    background-color: #F9F9F9; /* slate-200 */
    /* min-width: 120px; */
   /* max-width: 400px; */
   color: var(--primary-text-color);
   border: none;
   text-align: left;
   font-family: var(--font-default);
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 160%; /* 28.8px */
}
.order-table-prod{
    width: 550px;
    /* width: 100%; */
}
td {
    padding: 34px 24px;
    vertical-align: text-top;
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-text-color);
    border-bottom: 1px solid #ddd;
    font-family: var(--font-default);
}
td p{
    margin: 0;
    margin-bottom: 15px;
}
td a {
    text-decoration: none;
    color: #E65909;
}
tr.horizontal-line {
    /* border-bottom: 2px solid #ddd; */
    font-family: "Manrope", sans-serif;
}

.order-status-subtotal td{
    padding: 34px 24px 18px 24px;
    border: none ;
}
.order-status-gstrow td{
    padding: 0 24px 18px 24px;
    border: none ;
}
.order-status-totalprice td{
    padding: 30px 24px  33px 24px;
    border: none ;
}
.right-side-table-navigation{
    display: flex;
    gap: 10px;
}
.order-status-gstrow, .order-status-totalprice, .order-status-subtotal{
    background-color: #F9F9F9;
    border: none
}
.order-status-gstrow td, .order-status-totalprice td,.order-status-subtotal td{
    color: var(--primary-text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 28.8px */
    font-family: var(--font-default);
}
@media screen and (min-width:1024px) {
    .order-title-container{
        padding: 0px 50px 77px 50px;
        
    }
    .table-container {
        padding: 0 50px 174px 50px;
    }
    .order-title-container h1{
        font-size: 5.5vw;
    }
    .order-details .order-details-address {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 40px;
    }
    .order-table-prod{
        width: 250px;
    }
}
@media screen and (min-width:1364px) {
    .order-title-container{
        padding: 0px 70px 77px 70px;    
    }
    .table-container {
        padding: 0 70px 174px 70px;
    }
    .order-title-container h1{
        font-size: 80px;
    }
    .order-table-prod{
        width: 550px;
    }
}
@media screen and (min-width:1431px){
    .order-details .order-details-address {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 205px;
    }
}