@font-face {
    font-family: Coconat;
    src: url(/js/Coconat-Regular.woff);
  }
*{
    padding: 0;
    margin: 0;
}

/* *********Header css********** */
.notification-banner{
    background-color: #FADECE;
    border-radius: 12px;
    padding: 0px;
    height: 67px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 15px 20px 0 20px;
}
.notification-banner p {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: auto;
    font-family: "Manrope", sans-serif;
}
.notification-banner span{
   position: absolute;
   top: 32%;
   right: 22px;
   font-size: 24px;
   color: #0A2926;
   cursor: pointer;
}
.navbar {
/* border:1px solid; */
    height: 158px;
    background-color: white;
    padding: 0 74px ;
    margin: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    height: 32px;
    width: 300px;
}
.navbar svg{
    /* height: 2px; */
    /* width: 500px; */
}
.navbar .navbar-link-btn{
    display: flex;
    gap: 70px;
    /* border: 2px solid black; */
    align-items: center;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 55px;
}
.navbar ul li a {
     text-decoration: none;
     color: #0A2926;
     font-family: "Manrope", sans-serif;
     font-size: 18px;
     font-weight: 600;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 4px;

}
.navbar ul li a span {
    font-size: 18px;
    font-weight: 600;
    margin-top: 4px;
}
.navbar .navbar-icon-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}
.navbar .navbar-icon-btns span{
    cursor: pointer;
}
.navbar .navbar-icon-btns span{
    font-size: 30px;
    font-weight: 400;
}

/* ********** Footer section *********** */
footer{
    background-color: #EBEFEF;

}
footer .footer-newsletter{
    height: 160px;
    background-color: #EBEFEF;
    display: flex;
    gap: 20px;
    /* gap: 40px; */
    justify-content: center;
    align-items: center;
    padding: 0 74px 15px 74px ;

}
footer .footer-newsletter p{
    font-size: 48px;
    font-family: Coconat;
    font-weight: 400;
    width: 100%;
    /* border: 1px solid; */
}
footer .footer-newsletter .newsletter-input-container{
   border-bottom: 1px solid #0A2926;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer-newsletter .newsletter-input-container input{
    border: none;
    background-color: transparent;
    height: 60px;
    font-size: 18px;
    outline: none;
    font-family: "Manrope", sans-serif;
    width: 100%;
}
footer .footer-newsletter .newsletter-input-container input::placeholder{
    font-size: 18px;
    font-weight: 600;
    color: #0A2926;
    opacity: 30%;
    font-family: "Manrope", sans-serif;
}
footer .footer-newsletter .newsletter-input-container span{
    font-size: 40px;
    margin-right: -5px;
    color: #0A2926;
}
footer .footer-main{
    height: 508px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 55px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background-color: #CED7D6;
    padding: 95px 74px 76px 74px;

}
footer .footer-main .footer-main-content{
    display: flex;
     gap: 40px;
     /* border: 1px solid black; */
}
footer .footer-main .footer-main-content div{
    width: 100%;
}
footer .footer-main .footer-main-content div svg{
    padding-top: 15px;
}
footer .footer-main .footer-main-content ul li{
    list-style: none;
    padding-bottom: 0px;
}
footer .footer-main .footer-main-content .footer-logo{
    width: 210px;
    
}
footer .footer-main .footer-main-content .footer-links h3{
    text-transform: uppercase;
    font-weight: 500;
    color: #0A2926;
    font-family: "Manrope", sans-serif;
    padding-bottom: 25px;
    font-size: 12px;
    letter-spacing: 2px;
}
footer .footer-main .footer-main-content .footer-links{
    display: flex;
    /* justify-content: ; */
    gap: 50px;
}
footer .footer-main .footer-main-content .footer-links .touch-help{
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* border: 1px solid black; */
}
footer .footer-main .footer-main-content .footer-links ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
    color: black;

}

footer .footer-main .cc {
    display: flex;
    gap: 40px;
    flex-direction: column;
}
footer .footer-main .cc img{
    height: 32px;
    width: 300px;
}
footer .footer-main .cc p{
    line-height: 13px;
    color: #0A2926;
    font-family: "Manrope", sans-serif;
    font-size: 10px;
    font-weight: 400;
}

/* ********** hero section *************** */
.hero-section{
    background-color: white;
    height: 700px;
    /* border: 1px solid; */
    display: flex;
    gap: 100px;
}
.hero-section div{
    width: 100%;
}
.hero-section div:last-child{
    display: flex;
    justify-content: center !important;
}
.hero-section div img{
    height: 100%;
    width: 100%;
}
.hero-section div:first-child{
    gap: 50px;
    justify-content: center;
}
.hero-section div div .hero-welcome {
    font-family: "Manrope", sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.hero-section div div h2 {
    font-family: Coconat;
    font-size: 80px;
    font-weight: 400;
    line-height: 1.2;
}
.hero-section div div .hero-description {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #0A2926;
    font-weight: 500;

}
.hero-section div div a{
    text-decoration: none;
    color: white;
    width: 180px;
    height: 67px;
    font-size: 22px;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
.hero-section .hero-content {
    /* border: 1px solid; */
    display: flex;
    margin-top: -50px !important;
    /* gap: 35px; */
    flex-direction: column;
    align-items: start;
    padding-left: 74px;
}
.hero-section .hero-content div:nth-child(2){
 
   max-width: 600px;
   /* margin-bottom: 40px; */
}

.hero-section .hero-content .hero-btns{
 margin-top: -5px;
    display: flex;
justify-content: start !important;
flex-direction: row;
    gap: 16px;
}
.hero-section div div .login{
    background-color: #0A2926;
    height: 67px;
}
    .hero-section div div .login:hover{
        background-color: #CED7D6;
        color: #0A2926;
        font-size: 22px;
        font-weight: 600;
        font-family: "Manrope", sans-serif;
    }
    .hero-section div div .register{
        background-color: #CED7D6;
        color: #0A2926;
        font-size: 22px;
        font-weight: 600;
        font-family: "Manrope", sans-serif;
}
.hero-section div div .register:hover{
    background-color: #0A2926;
    color: white;
    font-size: 22px;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
}

.hero-content-img-container{
    /* height: 600px; */
}
/* ****************practitioner brand section********** */
 /* slider 1 */
 .my-swiper{
    padding: 138px 74px 68px 74px;
     /* border: 1px solid; */
 }
 .my-swiper h3{
    padding-bottom: 40px;
    font-size: 12px;    
    font-weight: 500;
    color: #0A2926;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: "Manrope", sans-serif;
 }
.swiper {
  width: 100%;
  height: 50px;
}
.swiper .swiper-slide{
    /* background-color: #e0b6b6; */
    height: 50px;
    display: flex;
    justify-content: center;
    width: 80px;
    
}
.swiper .swiper-slide img{
    height: 50px;

    /* width: 100px; */
}
.swiper-scrollbar, .swiper-pagination{
    display: none;
}
.swiper-button-prev, 
.swiper-button-next {
    width: 30px; /* Smaller width */
    height: 30px; /* Smaller height */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    border-radius: 50%; /* Make it round */
    color: #fff; /* Arrow color */
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 16px; /* Reduce arrow size */
    position: absolute;
    top: 90%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for perfect vertical alignment */
}
/* Reduce the size of the default Swiper arrow icons */
.swiper-button-prev::after, 
.swiper-button-next::after {
  font-size: 14px; /* Smaller arrow icons */
  font-weight: bold;
}

/* Position of the left navigation button */
.swiper-button-prev {
  left: 10px; /* Adjust distance from the left */
}

/* Position of the right navigation button */
.swiper-button-next {
  right: 10px; /* Adjust distance from the right */
}


.image-slider {
    position: relative;
    /* width: 400px; */
    height: 500px;
    margin: 20px 20px;
    border-radius: 24px;
    overflow: hidden;
  }
  
  /* Style for the images */
  .slider-img {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    transition: opacity 1s ease-in-out;
  }
  
  /* Active image is shown */
  .slider-img.active {
    opacity: 1;
  }




/* *********home features********** */
.home-features {
/* border: 1px solid black; */
padding: 0px 74px;
display: flex;
gap: 22px;
flex-direction: column;
}
.home-features div{
    border-radius: 24px;
}
.home-features .home-features-1{
  /* border: 1px solid; */
  overflow: hidden;
    height: 480px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    position: relative;
}
.home-features .home-features-1 div{
    width: 100%;
    padding: 60px 40px;  
    display: flex;
    flex-direction: column;
    padding-right: 50% !important;
    z-index: 2;
    gap:30px;
    background: #E2E8E8;
    background: linear-gradient(90deg, #E2E8E8 48%, rgba(2,0,36,0.14618347338935578) 78%);
    
}
.home-features .home-features-1 .home-features-1-bgimg {
    border: 1px solid black;
    padding: 0 !important;
    z-index: 1;
    width: 60%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 0 !important;
    background: 
    url('/images/home/leafs.jpg'); /* Your background image */
background-size: cover; /* Ensures the image covers the entire area */
background-position: center; /* Center the image */
}
.home-features .home-features-1 .home-features-1-tagline{
    font-size: 12px;
    font-weight: 500;
letter-spacing: 3px;
text-transform: uppercase;
    font-family: "Manrope", sans-serif;
}
.home-features .home-features-1 h3{
    font-weight: 500;
    font-size: 38px;
    color: #0A2926;
    font-family: "Manrope", sans-serif;
}
.home-features .home-features-1 .hero-features-1-desc {
    font-size: 18px !important;
    font-weight: 500;
    color: #0A2926;
    line-height: 30px;
    font-family: "Manrope", sans-serif;
    /* text-transform: ; */
}
.home-features .home-features-inner-container{
    font-family: "Manrope", sans-serif;
    display: flex;
    gap: 22px;
}
.home-features .home-features-inner-container .home-features-2,.home-features-3,.home-features-4{
 background-color: #F2AC85;
 /* padding: 45px 26px; */
 padding: 60px 40px 40px 40px;  
 width: 100%;
 height: 576px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;

}
.home-features .home-features-inner-container .home-features-2 .home-features-2-navigate,.home-features-3-navigate{
  
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: fit-content !important;
     /* padding-bottom: 20px; */
   }
   .home-features-4-navigate{
    display: flex;
    justify-content: end;
   }
.home-features-2-navigate img, .home-features-3-navigate img{
    height: 130px;
    width: 130px;
}
.home-features-4-navigate img{
    height: 130px;
    width: 212px;
}
.home-features-2-navigate p, .home-features-3-navigate p, .home-features-4-navigate p{
margin-bottom: 15px;
color: #0A2926;

}
.home-features .home-features-inner-container .home-features-2 div h3, .home-features-3 div h3, .home-features-4 div h3{
   font-size: 40px;
   font-weight: 500;
   margin-bottom: 25px;

}  
.home-features .home-features-inner-container .home-features-2 div p,.home-features-3 div p,.home-features-4 div p{
    cursor: pointer;
    font-size: 19px;
    font-family: "Manrope", sans-serif;
    color: #0A2926;
    display: flex;
    align-items: center;
    gap: 17px;
    line-height: 30px;
    font-weight: 500;
}
.home-features .home-features-inner-container .home-features-2 div p span{
font-size: 24px;
}
.home-features .home-features-inner-container .home-features-3{
    background-color: #D6C4ED;
  
   }
.home-features .home-features-inner-container .home-features-4{
    background-color: #C4D9FF;

}


/* slider  */
.home-slider-section{
   /* height: 340px; */
   padding: 120px 0 50px 0;
   display: flex;
   flex-direction: column;
   /* border: 1px solid ; */
   justify-content: center;
}
.home-slider-title{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: #0A2926;
    font-family: "Manrope", sans-serif;
    text-align: center;
    letter-spacing: 3px;
   padding-bottom: 60px;
}
.home-slider .slide-track img {
    width: 80px;
    /* height: 40px; */
    margin: 0 15px;
    animation: scroll 60s linear infinite;
  }
  .home-slider .slide-track {
    width: 100%;
    display: flex;
    gap: 3em;
    overflow: hidden;
  }
  
 
  
  @keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translatex(-1000%)}
  }


 