main{
    max-width: 1600px;
  
    width: 100%;
    margin: 0 auto;
    min-width: 200px; 
}
main h2{
    color: var(--primary-text-color);
    /* Hero */
    font-family: var(--font-heading);
    font-size: 80px;
    font-style: normal;
    padding: 80px 70px 44px 70px;
    font-weight: 400;
    line-height: 120%; /* 96px */
}
.table-container {
    /* border: 1px solid ; */
   
    padding: 0 70px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    font-family: "Manrope", sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead tr, thead tr th{
   border: none !important;
}
th {
    background-color: #F9F9F9; /* slate-200 */
    /* height: 60px; */
    min-width: 50px;
   max-width: 400px;
    padding: 18px 20px 18px 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;
font-family: var(--font-default);
}

tbody tr td {
    /* padding: 10px; */
    padding: 34px 20px;
    vertical-align: text-top;
  
    border-bottom: 1px solid #ddd;
    color: var(--primary-text-color);
    font-family: var(--font-default);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.8px; /* 28.8px */
   
}
td p{
    margin: 0;
    margin-bottom: 15px;
    color: var(--primary-text-color);
    font-family: var(--font-default);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.8px; /* 28.8px */
}
td:last-child{
    /* color: red; */
}
td p{
    text-decoration: none !important;
}
td a {
    text-decoration: none;
    color: #E65909;
    font-family: var(--font-default);
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height:  28.8px; /* 28.8px */
}
tr.horizontal-line {
    border-bottom: 2px solid #ddd;
    font-family: "Manrope", sans-serif;
}

.pagination {

    display: flex;
    justify-content: space-between;
    padding: 137px 0 129px 0;
}
.right-side-table-navigation{
    display: flex;
    gap: 10px;
}
.pagination #prev-btn,#next-btn {
    color: var(--primary-text-color);
    font-family: var(--font-default);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 28.8px */
    color: rgb(0, 0, 0);
    border: none;
    background-color: transparent;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;

}
.pagination button span{
    height: 16px;
    font-size: medium;
    width: 16px;
    
}
.pagination button:hover {
    /* background-color: #2b6cb0; */
}

#page-numbers {
    display: flex;
    align-items: center;
}

#page-numbers span {
    margin: 0 8px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #546967;
    font-family: var(--font-default);
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28.8px; /* 28.8px */
}
#page-numbers span.active {
    background-color: #CED4D4;
    /* padding: 10px; */
    display: grid;
    place-items: center;
    border-radius: 8px;
    height: 40px;
    width: 40px;
    color: black;
  }
  
#page-numbers span:hover {
    /* background-color: #e7e7e7; */
}
@media screen and (min-width:1024px) {
    .table-container {

        padding: 0 50px;
    }
    main h2{
        padding: 80px 50px 44px 50px;
    
    }
    td p{
        margin: 0;
        margin-bottom: 15px;
        color: var(--primary-text-color);
        font-family: var(--font-default);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 28.8px; /* 28.8px */
    }
    th {
        font-size: 14px;
    }
    td a{
        font-size: 14px;
    }
}
@media screen and (min-width:1364px) {
    main h2{
        padding: 80px 70px 44px 70px;
    }
    .table-container {

        padding: 0 70px;
    }
    td p{
        margin: 0;
        margin-bottom: 15px;
        color: var(--primary-text-color);
        font-family: var(--font-default);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28.8px; /* 28.8px */
    }
    th {
        font-size: 18px;
    }
    td a{
        font-size: 18px;
    }
}