<header>
    <section id="notification-banner" class="notification-banner">
      <p>
        Christmas & New Year: We are closed from 12pm Tuesday 24th of December
        2024 to 9am Monday 6th of January 2025.
      </p>
      <span id="notification-banner-close-btn" class="material-symbols-outlined notification-banner-closeIcon">
        close
      </span>
    </section>
    <nav class="navbar">
      <div class="logo">
        <a href="/">
         <img src="/assets/svgs/pacificHeathLogo.svg" alt="pacific Health Logo">
            
        </a>
      </div>
    <div class=" navbar-link-btn">

      
      <ul>
        <li><a href="/">Shop</a></li>
        <li><a href="/about">Prescriptions <span class="material-symbols-outlined">
          keyboard_arrow_down
          </span></a></li>
        <li><a href="/services">Promotions <span class="material-symbols-outlined">
          keyboard_arrow_down
          </span></a></li>
        <li><a href="/about.html">About us</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
      <div class="navbar-icon-btns">
      
        <img src="/assets/svgs/accountIcon.svg" alt="accountIcon">
          <img src="/assets/svgs/bag.svg" alt="bagIcon">
      </div>
    </nav>
  </div>
  </header>